
.pf-container,
.pf-container-fluid,
.pf-container-xxl,
.pf-container-xl,
.pf-container-lg,
.pf-container-md,
.pf-container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .pf-container-sm, .pf-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .pf-container-md, .pf-container-sm, .pf-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .pf-container-lg, .pf-container-md, .pf-container-sm, .pf-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .pf-container-xl, .pf-container-lg, .pf-container-md, .pf-container-sm, .pf-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .pf-container-xxl, .pf-container-xl, .pf-container-lg, .pf-container-md, .pf-container-sm, .pf-container {
    max-width: 1320px;
  }
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

.pf-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.pf-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.pf-col {
  flex: 1 0 0%;
}

.pf-row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.pf-row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.pf-row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.pf-row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.pf-row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.pf-row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.pf-row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.pf-col-auto {
  flex: 0 0 auto;
  width: auto;
}

.pf-col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.pf-col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.pf-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.pf-col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.pf-col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.pf-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.pf-col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.pf-col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.pf-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.pf-col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.pf-col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.pf-col-12 {
  flex: 0 0 auto;
  width: 100%;
}


@media (min-width: 576px) {
  .pf-col-sm {
    flex: 1 0 0%;
  }
  .pf-row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .pf-row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .pf-row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .pf-col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pf-col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .pf-col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .pf-col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .pf-col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .pf-col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .pf-col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
}
@media (min-width: 768px) {
  .pf-col-md {
    flex: 1 0 0%;
  }
  .pf-row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .pf-row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .pf-row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .pf-col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pf-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .pf-col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .pf-col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .pf-col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .pf-col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .pf-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
}
@media (min-width: 992px) {
  .pf-col-lg {
    flex: 1 0 0%;
  }
  .pf-row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .pf-row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .pf-row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .pf-col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pf-col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .pf-col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .pf-col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .pf-col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .pf-col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .pf-col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
}
@media (min-width: 1200px) {
  .pf-col-xl {
    flex: 1 0 0%;
  }
  .pf-row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .pf-row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .pf-row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .pf-col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pf-col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .pf-col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .pf-col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .pf-col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .pf-col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .pf-col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .pf-col-xxl {
    flex: 1 0 0%;
  }
  .pf-row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .pf-row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .pf-row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .pf-col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .pf-col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .pf-col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .pf-col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .pf-col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .pf-col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .pf-col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .pf-col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .pf-col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .pf-col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .pf-col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .pf-col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
}

/*# sourceMappingURL=bootstrap-grid.css.map */